body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('rezepthintergrund.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.5); 
    color: #333;
}

.recipe {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.image-container {
    flex: 1;
    text-align: right;
    margin-right: 20px;
}

.recipe-image {
    max-width: 200px;
    height: auto;
    border-radius: 5px;
}

.recipe-content {
    flex: 2;
}

.title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
}

.subtitle {
    font-size: 24px;
    margin-top: 20px;
    color: #4285f4;
}

.info p {
    margin: 5px 0;
    color: #666;
}

.recipe ul, .recipe ol {
    margin: 0;
    padding: 0 0 0 20px;
}

.recipe li {
    margin-bottom: 5px;
}

.recipe ol {
    color: #666;
}

.recipe ol li {
    color: #333;
}

.home-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: #4285f4;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #3b79e7;
}