body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('rezepthintergrund.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    color: #333;
}

h1 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 4.0em;
    font-family: "Pacifico", cursive;
    text-align: center;
    padding: 10px 15px;
    letter-spacing: 2px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
}

h1 .container {
    position: relative;
    z-index: 1;
    width: 100%;
}

h1 .bars {
    position: absolute;
    top: 3%;
    left: 0;
    width: 100%;
    height: 2em;
    margin-top: -0.5em;
}

h1 .bar {
    position: absolute;
    top: 0;
    width: 10%;
    height: 134%;
    background-color: rgba(255, 255, 255, 0.36);
    animation: slide var(--animation-duration) linear infinite alternate;
}

@keyframes slide {
    0% { left: 0; }
    100% { left: 100%; }
}

h3 {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 10px 15px;
    letter-spacing: 2px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.recipe {
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
}

.recipe .image-container {
    flex: 1;
    text-align: right;
    margin-right: 20px;
}

.recipe-image {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.recipe-content {
    flex: 2;
}

.title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
}

.subtitle {
    font-size: 24px;
    margin-top: 20px;
    color: #4285f4;
}

.recipe .info p {
    margin: 5px 0;
    color: #666;
}

.recipe ul, .recipe ol {
    margin: 0;
    padding: 0 0 0 20px;
}

.recipe li {
    margin-bottom: 5px;
}

.recipe ol {
    color: #666;
}

.recipe ol li {
    color: #333;
}

.home-button, .recipe a {
    display: inline-block;
    background-color: #4285f4;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.home-button:hover, .recipe a:hover {
    background-color: #0f54cc;
}

nav {
    background-color: #48284a;
    padding: 10px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffd700;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 3.0em;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 2.5em;
    }
    h3 {
        font-size: 1.2em;
    }
    .recipe .image-container {
        text-align: center;
        margin-right: 0;
    }
    .recipe-image {
        max-width: 100%;
        margin-right: 0;
    }
    .title {
        font-size: 28px;
    }
    .subtitle {
        font-size: 20px;
    }
}
